<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="FilePath" value="E:\CapG\Study Material\SerialFile.dat"/>
		<add key="XMLFile" value="E:\CapG\Study Material\CustomList.xml"/>
		<add key="JSONFile" value="E:\CapG\Study Material\CustJSON.json"/>
	</appSettings>
</configuration>